@model PagedList.IPagedList<IS220.N12.Models.CONTACT>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/custom/admin.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<style>
    .content-wrapper {
        min-height: 712px;
    }

    .nav-message {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

        .nav-message div:nth-child(2) {
            flex: 1;
            color: #fff;
            margin-left: 20px;
            cursor: pointer;
        }

        .nav-message label:hover,
        .nav-message > div:hover,
        .nav-paging:hover {
            color: rgba(255, 255, 255, 0.6);
        }

    .content-wrapper .table input {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .nav-message label {
        cursor: pointer;
        color: #fff;
    }

    .table {
        margin-bottom: 0;
        max-height: 1200px;
    }

        .table tr:hover {
            color: var(--white-color);
        }

    .message-icon {
        display: block;
    }

    .message-icon-active {
        display: none;
        color: yellow;
    }

    .table tr:hover {
        color: #fff;
    }

    .table tr td:nth-child(1),
    .table tr td:nth-child(2),
    .table tr td:nth-child(5) {
        min-width: 52px;
        text-align: center;
    }

    .table tr td:nth-child(3) {
        text-align: left;
        min-width: 250px;
        max-width: 250px;
        max-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-line-clamp: 1;
    }

    .table tr td:nth-child(4) {
        min-width: 800px;
        max-width: 800px;
        text-align: left;
        max-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-line-clamp: 1;
    }

    .message-trash {
        padding: 8px 16px;
    }

    .pagination {
        margin-left: 8px;
        margin-bottom: 8px;
    }

        .pagination li a {
            color: rgba(255, 255, 255, 0.8);
            padding: 4px 12px;
            text-decoration: none;
        }

        .pagination li:hover,
        .pagination .active {
            color: white;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.4);
        }
</style>

<div class="box-list-message">
    <nav class="nav-message m-3 pb-3">
        <div>
            <input type="checkbox" name="nav-select-all" id="nav-select-all">
            <label for="nav-select-all">Select all</label>
        </div>

        <div class="nav-message-delete">
            <i class="fa-solid fa-trash"></i>
            <span>Delete</span>
        </div>

        <div>
            @Html.PagedListPager(Model, page => Url.Action("AdminMessage", new { page }))
        </div>
    </nav>

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card ms-3 me-3">
                <table class="table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" class="message-select"></td>
                            <td>
                                <i class="message-icon fa-regular fa-star"></i>
                                <i class="message-icon-active fa-solid fa-star"></i>
                            </td>
                            <td>@item.fullName</td>
                            <td>
                                <span class="message-title">
                                    @item.topicName
                                </span>
                                -
                                <span class="message-content">
                                    @item.message
                                </span>
                            </td>
                            <td>
                                <i class="message-trash fa-solid fa-trash"></i>
                            </td>
                            <td class="d-none">@item.ContactID</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/custom/AdminMessage.js"></script>

<script>
    $('.nav__content-list li:last-child .nav__content-list-item').addClass('active');

    function removeMessage(id) {
        $.ajax({
            type: "POST",
            url: "/Admin/DeleteMessage",
            data: {
                values: [id]
            },
            datatype: "json",
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                console.log(data);
            },
            error: function () {
                alert("Error occured!!!");
            }
        });
    }

    $('.message-trash').each(function () {
        $(this).click(function () {
            let id = $(this).parent().parent().find('td').eq(5).html();
            removeMessage(id);
            $(this).parent().parent().remove();
        });
    })

    $('.nav-message-delete').click(function () {
        $('.message-select').each(function () {
            if ($(this).checked) {
                let id = $(this).parent().parent().find('td').eq(5).html();
                removeMessage(id);
                $(this).parent().parent().remove();
            }
        });
    });
</script>