
@{
    Layout = null;
    var account = Session["Account"] as IS220.N12.Models.ACCOUNT;
    string[] reservationInfo = (string[])Session["ReservationInfo"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/custom/base.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Reservation</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .app__header {
            background-color: #08536B;
        }

        p, h5, h6 {
            margin-bottom: 0;
        }

        .col-8 p {
            font-size: 14px;
        }

        .property-img {
            width: 200px;
            height: 150px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        .form-group input {
            border: 1px solid #ccc;
            width: 350px;
        }

        .form-group {
            margin-top: 16px;
        }

            .form-group + .form-group {
                margin-bottom: 0;
            }

        .app__content a, button {
            border: none;
            color: white;
            padding: 8px 16px;
            border-radius: 20px;
            background-color: #08536B;
        }

            .app__content a:hover {
                background-color: #3f7b90;
            }
    </style>
</head>
<body>
    <header class="app__header">
        <nav class="app__nav" style="max-width: 1200px;margin: 0 auto;">
            <a href="~/Homepage/Index" class="app__nav-name-link">
                <img src="../assets/img/logo.png" alt="Logo" class="app__nav-name-icon">
            </a>

            <ul class="app__nav-list hide-on-mobile-tablet">
                <li class="app__nav-item">
                    <a href="~/Homepage/Index" class="app__nav-item-link text-white">Home</a>
                </li>
                <li class="app__nav-item">
                    <a href="~/Homepage/Contact" class="app__nav-item-link">Contacts</a>
                </li>
                <li class="app__nav-item">
                    <a href="YourAccount" class="app__nav-item-link">@account.Username</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="app__content mt-5" style="max-width: 1200px;margin: 0 auto;">
        <div class="row">
            <div class="col-4">
                <div class="border" style="border-radius: 16px;">
                    <div class="mx-4 my-3 d-flex flex-column justify-content-between">
                        <h5>Your booking details</h5>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                <p>Check-in</p>
                                <h6 class="check-in-date">@reservationInfo[1]</h6>
                            </div>

                            <div>
                                <p>Check-out</p>
                                <h6 class="check-out-date">@reservationInfo[2]</h6>
                            </div>
                        </div>
                        <div class="mt-3">
                            <h6>Total length of stay:</h6>
                            <p class="interval-date"></p>
                        </div>
                        <div class="mt-3 box-1"></div>
                    </div>
                </div>
                <div class="border mt-3" style="border-radius: 16px;">
                    <div class="mx-4 my-3 d-flex flex-column justify-content-between box-2"></div>
                </div>
                <div class="border mt-3" style="border-radius: 16px;">
                    <div class="mx-4 my-3 d-flex flex-column justify-content-between">
                        <h5>Payment method</h5>
                        <p>At the property</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="d-flex border property-info" style="border-radius: 16px;"></div>

                <div class="border mt-5" style="border-radius: 16px;height: 313px;">
                    <div class="m-4 d-flex flex-column justify-content-between">
                        <h5>Enter your stay details</h5>

                        <form action="" method="post" id="form">
                            <div class="form-group">
                                <label for="name"><b>Name</b><span style="color: red;">*</span></label>
                                <input id="name" name="name" type="text" class="form-control mt-2">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="phone-number"><b>Phone numbers</b><span style="color: red;">*</span></label>
                                <input id="phone-number" name="phone-number" type="text" class="form-control mt-2">
                                <span class="form-message"></span>
                            </div>

                            <div class="mt-1 d-flex">
                                <div style="flex: 1;"></div>
                                <a href="~/Homepage/Search_Detail" class="text-decoration-none">
                                    Cancel
                                </a>

                                <button type="button" class="ms-3">Complete Your Booking</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/js/validator.js"></script>
    <script>
        Validator({
            form: '#form',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#name'),
                Validator.isRequired('#phone-number'),
            ]
        });
    </script>
    <script>
        function daysDifference(firstDate, secondDate) {
            var startDay = new Date(firstDate);
            var endDay = new Date(secondDate);

            var millisecondBetween = startDay.getTime() - endDay.getTime();
            var days = millisecondBetween / (1000 * 3600 * 24);

            return Math.round(Math.abs(days));
        }

        $(document).ready(function () {
            $('.interval-date').html(`${daysDifference($('.check-in-date').html(), $('.check-out-date').html())} days`);

            $.ajax({
                type: "POST",
                url: "/CUSTOMER/GetInfoReservation",
                data: {
                    values: [@reservationInfo[0], @reservationInfo[3]]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    let html1 = `<h6>You selected</h6>
                                 <p>${data.typeRoom} ${data.typeProperty}</p>`;
                    $('.box-1').append(html1);

                    let html2 = `
                                <h5>Your price summary</h5>
                                <div class="mt-2 d-flex justify-content-between">
                                    <span>${data.roomName}</span>
                                    <span>${data.price} VND</span>
                                </div>
                                <div class="mt-1 d-flex justify-content-between pb-3 border-bottom">
                                    <span>5% VAT</span>
                                    <span>${parseInt(data.price * 0.05)} VND</span>
                                </div>
                                <div class="mt-1 d-flex justify-content-between">
                                    <h6>Total</h6>
                                    <span><span class="total">${parseInt(data.price * 0.95)}</span> VND</span>
                                </div>`;
                    $('.box-2').append(html2);

                    let html3 = `
                                <img src="${data.image}" alt="Avatar" class="property-img">
                                <div class="d-flex flex-column m-3 flex-1 justify-content-between">
                                    <h5>${data.propertyName}</h5>
                                    <p>Address: ${data.address}</p>
                                    <p>Avergae point: ${data.averagePoint}</p>
                                    <p>Check-in time: ${data.checkInTime}</p>
                                    <p>Check-out time: ${data.checkOutTime}</p>
                                </div>`;
                    $('.property-info').html(html3);
                },
                error: function () {
                    alert("Error occured!!!");
                }
            });

            $('button').click(function () {
                console.log(
                    );

                $.ajax({
                    type: "POST",
                    url: "/CUSTOMER/CreateReservation",
                    data: {
                        values: [
                            @reservationInfo[3],
                            $('#name').val(),
                            $('#phone-number').val(),
                            $('.check-in-date').html(),
                            $('.check-out-date').html(),
                            $('.total').html(),
                        ]
                    },
                    datatype: "json",
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        if (data.isSuccess) {
                            window.location.replace("https://localhost:44306/CUSTOMER/Success");
                        } else {
                            window.location.replace("https://localhost:44306/CUSTOMER/Error");
                        }
                    },
                    error: function () {
                        alert("Error occured!!!");
                    }
                });
            });
        });
    </script>
</body>
</html>
